<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../static/js/index.js"></script>
    <script src="../static/js/lib/vue.min.js"></script>
    <script src="../static/js/lib/pixi.min.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/lib/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id = "app">
    <el-container>
        <el-header>Build Visualisation From Problem</el-header>
        <el-main>
            <div>OPTION 1-PLANNER URL </div>
            <el-row>
                <el-col :span="3"><div >Enter URL：</div></el-col>
                <el-col :span="18">
                    <el-input v-model="input" placeholder="please input the url"></el-input>
                </el-col>
            </el-row>

<!--            <div id="testValue" v-text="value">-->
<!--                {{value}}-->
<!--            </div>-->
            <div>OPTION 1-Upload PROBLEM, DOMAIN and ANIMATION PROFILE files </div>
            <el-row>
                <el-col :span="8"><div >Domain File</div></el-col>
                <el-col :span="8">
                    <div >Problem File</div>
                </el-col>
                <el-col :span="8">
                    <div >Animation Profile</div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-upload
                            class="upload-demo"
                            drag
                            action="https://jsonplaceholder.typicode.com/posts/"
                            multiple>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">drag the file here, or <em>Click to Upload</em></div>
                        <div class="el-upload__tip" slot="tip">DOMAIN.PDDL</div>
                    </el-upload>
                </el-col>
                <el-col :span="8">
                    <el-upload
                            class="upload-demo"
                            drag
                            action="https://jsonplaceholder.typicode.com/posts/"
                            multiple>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">drag the file here, or <em>Click to Upload</em></div>
                        <div class="el-upload__tip" slot="tip">PROBLEM.PDDL</div>
                    </el-upload>
                </el-col>
                <el-col :span="8">
                    <el-upload
                            class="upload-demo"
                            drag
                            action="https://jsonplaceholder.typicode.com/posts/"
                            multiple>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">drag the file here, or <em>Click to Upload</em></div>
                        <div class="el-upload__tip" slot="tip">ANIMATION.PDDL</div>
                    </el-upload>
                </el-col>
            </el-row>
        </el-main>
        <el-header>Build Visualisation From solution VFG</el-header>
        <el-main>
            <div>SELECT VFG FILE TO GENERATE VISUALISATION DIRECTLY.</div>
            <el-upload
                    class="upload-demo"
                    drag
                    action="https://jsonplaceholder.typicode.com/posts/"
                    multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">drag the file here, or <em>Click to Upload</em></div>
                <div class="el-upload__tip" slot="tip">VFG(.vfg) file</div>
            </el-upload>
            <div id="pixi" style="position: relative;display: flex">  </div>
        </el-main>
    </el-container>


</div>
<script>

    var vm = new Vue({
        el: '#app',
        data:{
            input:'',
            value:10,
            v_appWi:600,
            v_appHi:400
        },
        mounted(){
            this.init_pixi();
        },
        methods:{
            init_pixi() {

                var that = this;
                // const app = new PIXI.Application({ width: that.v_appWi,
                //     height: that.v_appHi,antialias: true,transparent: false,
                //     resolution: 1});
                //
                // document.getElementById("pixi").appendChild(app.view);
                //
                // const loader = new PIXI.Loader();
                // loader.add("../static/images/dog.jpeg").load(setup);
                //
                // function setup() {
                //
                //     let pic = new PIXI.Sprite(loader.resources["../static/images/dog.jpeg"].texture);
                //
                //     //Add the cat to the stage
                //     app.stage.addChild(pic);
                //
                //     //If you ever need to, here's how you can clean out WebGL's GPU
                //     //memory manually
                //     /*
                //     Object.keys(TextureCache).forEach(function(texture) {
                //       TextureCache[texture].destroy(true);
                //     });
                //     */
                // }

                const app = new PIXI.Application();
                document.body.appendChild(app.view);

                const aliens = [];

                const totalDudes = 5;

                for (let i = 0; i < totalDudes; i++) {
                    // create a new Sprite that uses the image name that we just generated as its source
                    const dude = PIXI.Sprite.from('../static/images/dog.jpeg');

                    // set the anchor point so the texture is centered on the sprite
                    dude.anchor.set(0.5);

                    // set a random scale for the dude - no point them all being the same size!
                    dude.scale.set(0.8 + Math.random() * 0.3);

                    // finally lets set the dude to be at a random position..
                    dude.x = Math.random() * app.screen.width;
                    dude.y = Math.random() * app.screen.height;

                    dude.tint = Math.random() * 0xFFFFFF;

                    // create some extra properties that will control movement :
                    // create a random direction in radians. This is a number between 0 and PI*2 which is the equivalent of 0 - 360 degrees
                    dude.direction = Math.random() * Math.PI * 2;

                    // this number will be used to modify the direction of the dude over time
                    dude.turningSpeed = Math.random() - 0.8;

                    // create a random speed for the dude between 2 - 4
                    dude.speed = 2 + Math.random() * 2;

                    // finally we push the dude into the aliens array so it it can be easily accessed later
                    aliens.push(dude);

                    app.stage.addChild(dude);
                }

                // create a bounding box for the little dudes
                const dudeBoundsPadding = 100;
                const dudeBounds = new PIXI.Rectangle(-dudeBoundsPadding,
                    -dudeBoundsPadding,
                    app.screen.width + dudeBoundsPadding * 2,
                    app.screen.height + dudeBoundsPadding * 2);

                app.ticker.add(() => {
                    // iterate through the dudes and update their position
                    for (let i = 0; i < aliens.length; i++) {
                        const dude = aliens[i];
                        dude.direction += dude.turningSpeed * 0.01;
                        dude.x += Math.sin(dude.direction) * dude.speed;
                        dude.y += Math.cos(dude.direction) * dude.speed;
                        dude.rotation = -dude.direction - Math.PI / 2;

                        // wrap the dudes by testing their bounds...
                        if (dude.x < dudeBounds.x) {
                            dude.x += dudeBounds.width;
                        } else if (dude.x > dudeBounds.x + dudeBounds.width) {
                            dude.x -= dudeBounds.width;
                        }

                        if (dude.y < dudeBounds.y) {
                            dude.y += dudeBounds.height;
                        } else if (dude.y > dudeBounds.y + dudeBounds.height) {
                            dude.y -= dudeBounds.height;
                        }
                    }
                });

                // app.renderer.view.style.border = "1px dashed black";
                // app.renderer.backgroundColor = 0x061639;
            },
            test_axios_get:function(){
                axios.get('/user', {
                    params: {
                        ID: 12345
                    }
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });

                // similar to the one above
                // axios.get('/user?ID=12345')
                //     .then(function (response) {
                //         console.log(response);
                //     })
                //     .catch(function (error) {
                //         console.log(error);
                //     });
            },
            test_axios_post:function(){
                axios.post('/user', {
                    firstName: 'aaa',
                    lastName: 'bbb'
                })
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        }
    })
</script>

</body>


</html>